body {
    background-color: cornflowerblue;
}

#contenedor {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    border: 2px solid black;
    border-radius: 20px;
    width: 50%;
}

.parrafo {
    width: 50%;
    font-size: 20px;
}

h1, h2, p {
    margin-left: 10px;
}

table, div {
    text-align: center;
}